.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  line-height: 100%;


}

.card {
  background-color: cornflowerblue;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card2 {

  background-color: beige;
  width: 50%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.card3 {
  background-color: darkslategray;
  width: 50%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.card4 {

  background-color: gold;
  width: 50%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.card-container .card:not(:last-child) {
  margin-right: 0;
}



.card-container {
  cursor: pointer;
}
