<div mat-dialog-actions>
<div class="container">
<mat-button-toggle-group name="color" aria-label="Select Item Colors">
  <mat-button-toggle mat-dialog-close="red" class="card set1" value="red" >Red</mat-button-toggle>
  <mat-button-toggle mat-dialog-close="green" class="card set2" value="green">Green</mat-button-toggle>
  <mat-button-toggle mat-dialog-close="blue" class="card set3" value="blue">Blue</mat-button-toggle>
  <mat-button-toggle mat-dialog-close="pink" class="card set4" value="pink">White</mat-button-toggle>
  <mat-button-toggle mat-dialog-close="orange" class="card set5" value="orange">Black</mat-button-toggle>

</mat-button-toggle-group>

</div>
</div>
