.set3 {
  background-color: cornflowerblue;
}

.set1 {
  background-color: darkred;
}
.set2 {
  background-color: green;
}
.set4 {
  background-color: white;
}
.set5 {
  background-color: dimgray;
}

.

.cancel {
  position: fixed;
  top: 0;
  right: 30%;
}

.mat-dialog-actions{


  position: fixed;
  top: 0;
  left: 30%;

  width: 40%;
  height: 30vh;
  display: flex;
  justify-content: center;

}

