.card-container{
  position: fixed;
  bottom: 20%;
  left: 20%;

  width: 60%;
  height: 60vh;
  display: flex;
  justify-content: center;


  background-color: aliceblue;
}


.task {
  margin: 0px 0;
}

.header {

  position: fixed;
  top: 20%;
  left: 20%;
  font-size: large;
  justify-content: center;


}

.mat-table {
  width: 100%;
  background-color: aliceblue;

}

.close{
  position: fixed;
  top: 22%;
  right: 22%;
}

