button.setActive1 {

  position: fixed;
  top: 0;
  left: 0;

  width: 30%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;


  transition: width 0.6s;

}





button.setActive3 {

  position: fixed;
  top: 0;
  right: 0;

  width: 30%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: width 0.6s;
}

button.setActive4 {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 30%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: width 0.6s;
}




button.setActive2 {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 30%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: width 0.6s;
}

.set5 {
  position: fixed;
  top: 0;
  left: 30%;
}

.set6 {
  position: fixed;
  bottom: 0;
  left: 30%;

}

.info {
  position: fixed;
  bottom: 30%;
  left: 30%;


}


:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;


}






.set1 {
  background-color: cornflowerblue;
}

.set2 {
  background-color: darkslategray;
}

.set3 {
  background-color: beige ;

}

.set4 {
  background-color: gold;
}

.set5 {
  background-color: darkgreen;

  width: 40%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  background-color: grey;

  width: 40%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.set6 {
  background-color: plum;

  width: 40%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.state1 {
  z-index: -1;
}

.card1 {

  position: fixed;
  top: 0;
  left: 0;

}

.card2 {
  position: fixed;
  bottom: 0;
  left: 0;


}

.card3 {
  position: fixed;
  top: 0;
  right: 0;
}

.card4 {
  position: fixed;
  bottom: 0;
  right: 0;

}

.card {
  width: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: width 0.6s;

}

.red {
  background-color: darkred;
}

.blue {
  background-color: cornflowerblue;
}

.pink {
  background-color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: dimgrey;
}
.mat-icon {
  font-size: 100px;
  height: 100px ;
  width: 100px;
}

.manual {


  display: flex;


  justify-content: center;
  align-items: center;

  transform: scale(0.3);


  position: fixed;
  bottom: 0;
  margin-bottom: -35px;
  left:45%;
  margin-left: -2px;



}












