
<div class="card-container">


  <button (touchstart)="service.SendData('linkTarget')" (touchend)="service.SendData('stopLink')" mat-flat-button  [ngClass]="active ? 'setActive1' : ''"  class="card card1 set1">
    <mat-icon>timeline</mat-icon>


  </button>



  <button mat-flat-button  [ngClass]="active ? 'setActive2' : 'eyesFree'" (click)="service.SendData('create')" class="card card2 set2">
    <mat-icon>add_circle_outline</mat-icon>

</button>


  <button (touchstart)="service.SendData('moveStart')" (touchend)="service.SendData('moveStop')" mat-flat-button  [ngClass]="active ? 'setActive3' : 'eyesFree'"  class="card card3 set3">
    <mat-icon>open_with</mat-icon>

</button>



  <button mat-flat-button  [ngClass]="active ? 'setActive4' : 'eyesFree'" (click)="service.SendData('delete')" class="card card4 set4">
    <mat-icon>
      delete_forever
    </mat-icon>

</button>



  <button mat-flat-button [ngClass]="{'red' : setColorRed , 'green': setColorGreen, 'pink' : setColorPink , 'orange' : setColorOrange , 'blue' : setColorBlue}" (click)="openDialogColor()" class=" set5 state1">
    <mat-icon>
      palette
    </mat-icon>
  </button>



  <button mat-flat-button  [ngClass]="{'cube' : setShapeCube, 'circle' : setShapeCircle, 'cone' : setShapeCone }"(click)="openDialogItems()" class=" set6 state1">
    <mat-icon>
      category
    </mat-icon>

</button>

  <button mat-flat-button (click)="openDialog()" class=" info state1"><mat-icon>info</mat-icon></button>


  <button mat-flat-button (click)="switchUI()" class="manual"><mat-icon>repeat</mat-icon></button>




</div>


