.mat-dialog-actions{


  position: fixed;
  bottom: 0;
  left: 30%;

  width: 40%;
  height: 30vh;
  display: flex;
  justify-content: center;
  background-color: plum;

}

.card {
  font-size: 24px;


}

.cancel {
  font-size: 12px;
}

.mat-icon {
  font-size: 50px;
  height: 50px ;
  width: 50px;
}

