<div mat-dialog-actions>
  <div class="container">
    <mat-button-toggle-group name="shape" aria-label="Select Shape">
      <mat-button-toggle mat-dialog-close="cube" class="card set1" value="cube" >

        <mat-icon>check_box_outline_blank</mat-icon>

      </mat-button-toggle>
      <mat-button-toggle mat-dialog-close="circle" class="card set2" value="circle">
        <mat-icon>radio_button_unchecked</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle mat-dialog-close="cone" class="card set3" value="cone">
        <mat-icon>change_history</mat-icon>
      </mat-button-toggle>

    </mat-button-toggle-group>

  </div>
</div>
